.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 6px;
}

button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}
